* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 11px;
}

@font-face {
    font-family: opensans;
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    max-width: 1440px;
    height: auto;
    overflow-x:hidden;
}

.container {
    max-width: 1440px;
    margin: 100px auto 100px auto;
}


@media (max-width:375px) {

   .container {
    max-width: 375px;
    margin: 0;
    padding: 0;
   }
}


header {
    display: flex;
    margin-top: 0;
    width:1440px;
}



#header-logo{
    margin-right: 800px;
    margin-left: 80px;
}

#header-button {
    background: hsl(0, 0%, 100%);
    color: hsl(322, 100%, 66%);
    float: right;
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px hsl(20, 10%, 90%);
    width: 120px;
    height: 35px;
    font-family: opensans;
    font-weight: 400;
}

#header-button:hover {
    border-color:  hsl(321, 100%, 78%);
    cursor: pointer;
}

@media (max-width:375px) {

    header {
        width: 375px;
        display: inline-flex;
        margin-top: 50px;
    }

    #header-logo {
        margin-left: 20px;
        margin-right: 140px;
        width: 100px;
        height: 25px;
    }

    #header-button {
        width: 90px;
        height: 25px;
    }
}

/* first body section*/


.top-body {
    margin-top: 200px;
    width:1440px;
}

.top-body h1 {
    font-size: 50px;
    color: hsl(192, 100%, 9%);
}

.top-body p {
    font-size: 20px;
    font-family: opensans;
    font-weight: 400;
    color: hsl(192, 100%, 9%);
}

.top-body button {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: hsl(322, 100%, 66%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px hsl(20, 10%, 85%);
}

.top-body button:hover {
    background: hsl(321, 100%, 78%);
    cursor: pointer;
}


.screen-mockup {
    margin-top: 100px;
    width:1440px;
}

.mockup_text {
    width :1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}

#community_card img {
    margin-left: -120px;
    margin-bottom: -30px;
 }

 
#community_card h1 {
    color: hsl(192, 100%, 9%);
    font-size: 80px;
    margin-bottom: 0;
}

#community_card p {
   opacity: 0.5; 
}
 
#message_card svg {
    margin-left: -150px;
    margin-bottom: -30px;
}


#message_card h1 {
    color: hsl(192, 100%, 9%);
    font-size: 80px;
    margin-bottom: 0px;
}

#message_card p {   opacity: 0.5;
}


@media (max-width:375px) {

    .top-body {
       width:375px;
    }


    .top-body h1 {
        font-size: 35px;
        
    }
    
    .top-body p {
        font-size: 20px;
    }

    .top-body button {
       margin-top: 40px;
    }

     
    .screen-mockup {
       width:375px;
    }
    .screen-mockup svg {
        width: 300px;
        height: 300px;
    }

    .mockup_text {
        width:375px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
 
    #community_card {
        margin-bottom: 50px;
    }
    

}

/* second body section*/



.grow-together {
    margin-left: -8px;
    margin-top: 50px;
    width: 1440px;
}


.grow-together #destopbgtop {
    margin-bottom: -10px;
    margin-left: 0px;
}

.grow-together #mobilebgtop {
    display: none;
}

.grow-together #mobilebgbottom {
    display: none;
}


.grow_grid {
    width: 1440px;
    background: #F6FBFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#grow_text {
  margin: 150px auto auto 150px;
}

#grow_text h1 {
    color: hsl(192, 100%, 9%) ;
    font-size: 40px;
    text-align: left;
}
#grow_text p {
    color: hsl(192, 100%, 9%);
    font-size: 15px;
    text-align: left;
    font-family: opensans;
}

#grow_icon img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-right: 150px;
}


@media (max-width:375px) {
    
.grow-together {
    width: 375px;
    margin: 0;
}

.grow-together #destopbgtop {
    display: none;
}

.grow-together #destopbgbottom {
   display: none;
}

.grow-together #mobilebgtop {
    display: block;
}

.grow-together #mobilebgbottom {
    display: block;
}


.grow_grid {
    width: 375px;
    display: grid;
    grid-template-columns: 1fr;
}

#grow_text {
  grid-row: 2;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 80px;
}

#grow_text h1 {
    font-size: 30px;
    text-align: center;
}
#grow_text p {
    font-size: 10px;
    text-align: center;
}

#grow_icon img {
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 0;
}
}

/*third body section*/


.flowing_conversation {
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.flowing_conversation img {
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 100px;
}

.fc_text {
    margin-top: 200px;
    margin-left: 50px;
}

.flowing_conversation h1 {
    color: hsl(192, 100%, 9%) ;
    font-size: 40px;
    text-align: left;
    
}

.flowing_conversation p {
    color: hsl(192, 100%, 9%);
    font-size: 15px;
    font-family: opensans;
    text-align: left;
}


@media (max-width:375px) {

    .flowing_conversation {
        width: 375px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .flowing_conversation img {
        width: 300px;
        height: 250px;
        margin-left: 35px;
        
    }
    
    .fc_text {
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .flowing_conversation h1 {
        font-size: 20px;
        text-align: center;
        
    }
    
    .flowing_conversation p {
        font-size: 15px;
        text-align: center;
    }
}



/* forth body section*/


.your_users {
    width: 1440px;
    margin-top: 100px;
    margin-left: -10px;
}

.your_users #ysdestopbgtop {
    margin-bottom: -10px;
}

.your_users #ysmobilebgtop {
    display: none;
}

.your_users #ysmobilebgbottom {
    display: none;
}

.ys_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F6FBFF ;
    
}

.ys_text {
    margin-left: 150px;
    margin-top: 150px; 
}

.ys_text h1 {
    color: hsl(192, 100%, 9%) ;
    font-size: 40px;
    text-align: left; 
}

.ys_text p {
    color: hsl(192, 100%, 9%);
    font-size: 15px;
    font-family: opensans;
    text-align: left;  
}


.ys_grid img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: 80px;
}

.community {
    margin-top: 100px;
    width:1440px;
}

.community h1 {
    font-size: 50px;
    color: hsl(192, 100%, 9%);  
}

.community button {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: hsl(322, 100%, 66%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px hsl(20, 10%, 85%);
}

.community button:hover {
    background: hsl(321, 100%, 78%);
    cursor: pointer;
}


@media (max-width:375px) {
  
    
.your_users {
    width: 375px;
    margin-left: 0;
}

.your_users #ysdestopbgtop {
    display: none;
}

.your_users #ysmobilebgtop {
    display: block;
}

.your_users #ysdestopbgbottom {
    display: none;
}

.your_users #ysmobilebgbottom {
    display: block;
}


.ys_grid {
    display: grid;
    grid-template-columns: 1fr;
}

.ys_text {
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 100px; 
    grid-row: 2;
}

.ys_text h1 {
    font-size: 25px;
    text-align: center; 
}

.ys_text p {
    font-size: 12px;
    text-align: center;  
}


.ys_grid img {
    width: 300px;
    height: 250px;
    margin-top: 50px;
    margin-left: 35px;
}

.community {
    margin-top: 100px;
    width:375px;
}

.community h1 {
    font-size: 30px;  
}

.community button {
    width: 250px;
    height: 50px;
}


}




/* footer section */



footer {
    width: 1440px;
    height: auto;
    margin-left: -10px;
    margin-top: 150px;
}



#footerdestopbg {
    margin-bottom: -10px;
}

#footermobilebg {
    display: none;
}

.footer_grid {
    background: #00252E;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.huddle_info {
    margin-top: 150px;
}

.huddle_info svg {
    margin: auto auto 30px -180px;
}

.huddle_info svg path {
    fill: hsl(0, 0%, 100%);
}

.huddle_info p {
    color: hsl(20, 10%, 85%);
    font-size: 15px;
    font-family: opensans;
    text-align: left; 
    margin-left: 150px; 
}

.contact {
    display: block;
    margin-top: 40px;
}

.contact img {
    float: left;
    margin-left: 150px;
    margin-right: 20px;
}

.flex_media {
    margin-bottom: 100px;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
}

.flex_media i{
    margin-right: 20px;
    font-size: 20px;
}



.flex_media i:first-child {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    color: #00252E;
    background: hsl(0, 0%, 100%);
}

.flex_media i:first-child:hover {
    background: rgb(4, 179, 233);
}

.flex_media i:nth-of-type(2) {
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    margin-top: -2px;
}

.flex_media i:nth-of-type(2):hover {
    color: rgb(4, 179, 233);
}


.flex_media i:last-child {
    color: #00252E;
    background: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 5px;
}

.flex_media i:last-child:hover {
  background: rgb(4, 179, 233);
}


.newsletter {
    margin-top: 120px;
    margin-left: 100px;
}

.newsletter h1 {
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    text-align: left;  
}


.newsletter p {
    color: hsl(20, 10%, 85%);
    font-size: 15px;
    font-family: opensans;
    text-align: left; 
}


form {
    display: flex;
    margin-top: 50px;
    Position: relative;
}


.inputmail {
    display:flex;
    Position:relative;
    Top:1240px;
}

.inputmail input {
    width: 300px;
    height: 40px;
    margin-right: 30px;
    border-radius: 5px;
    text-align: left;
    text-indent: 10px;
    outline: 0;
    font-family: opensans;
    cursor: pointer;
}

.error {
    color: hsl(0, 100%, 63%);
    font-family: opensans;
    position: absolute;
    top:30px;
    float: left;
}

.inputmail.error input {
    border: 1px solid hsl(0, 100%, 63%);
}

.inputmail.success input {
    border: 1px solid rgb(4, 179, 233) ;
}



.inputmail button {
    width: 150px;
    height: 40px;
    color: hsl(0, 0%, 100%);
    background: hsl(322, 100%, 66%);
    border-radius: 5px;
    margin :0px;
}

.inputmail button:hover {
    cursor: pointer;
    background: hsl(321, 100%, 78%);
}


@media (max-width:375px) {
 
    footer {
        width: 375px;
        height: auto;
        margin-left: 0px;
        margin-top: 150px;
    }
    
    
    #footerdestopbg {
        display: none;
    }
    
    #footermobilebg {
        display: block;
        margin-bottom:-5px;
    }
    
    .footer_grid {
        display: grid;
        grid-template-columns:1fr;
    }
    
    .huddle_info {
        margin-top: 150px;
        grid-row: 2;
    }
    
    .huddle_info svg {
        margin: 80px 0 0 -140px;
        width: 200px;
        height: 30px;
    }
    
    
    .huddle_info p {
        font-size: 12px;
        margin-top: 20px;
        margin-left: 30px; 
    }
    
    .contact {
        display: block;
        margin-top: 40px;
    }
    
    .contact img {
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .contact1 {
        margin-bottom: 30px;
    }
    
    .flex_media {
        margin-bottom: 50px;
        margin-left: 30px;
        margin-top: 50px;
    }
    
    .flex_media i{
        font-size: 15px;
    }
    
    
    
    .flex_media i:first-child {
        border-radius: 5px;
        width: 25px;
        height: 25px;
        padding-top: 5px;
        color: #00252E;
        background: hsl(0, 0%, 100%);
    }
    
    
    .flex_media i:nth-of-type(2) {
        font-size: 30px;
    }
    
    
    .flex_media i:last-child {
        width: 25px;
        height: 25px;
    }
    
    
    
    .newsletter {
        margin-top: 50px;
        margin-left: 25px;
    }
    
    .newsletter h1 {
        font-size: 30px;
        text-align: left;  
    }
    
    
    .newsletter p {
        font-size: 13px;
        text-align: left; 
    }
    
    
    form {
        display: flex;
        margin-top: 50px;
    }
    
    

    .inputmail {
        display:block;
    }

    .inputmail input {
        width: 300px;
        height: 45px;
        margin-right: 50px;
        margin-left: 0;
        border-radius: 7px;
    }

    
    .error {
        float: left;
        margin-left: 10px;
        margin-top: 5px;
    }    
    
    
    .inputmail button {
      margin-left: 100px;
      margin-top: 15px;
      border-radius: 5px;
    }
    

}
